.search-breafter-box {
  width: 100%;
  //height: 320px;
  position: relative;
  & .background{
    display: block;
    width: 100%;
    height: 320px;
    position:fixed;
    background-size:100% 100%;
    z-index: -1;
  }
  & .title{
    height: 320px;
    display: block;
    font-size: 60px;
    font-family: "楷体";
    font-weight: bold;
    padding-top: 100px;
    padding-left: 12px;
    color: #000;
    text-align: center;
  }
  & .search-input{
    background-color: white;
    border: 1px solid #F6F6F6;
    width: 80%;
    margin: 0 auto;
    border-radius: 18px;
    box-shadow: 0px 5px 5px #ccc;
    height: 100px;
    padding-left: 80px;
    font-size: 34px;
    position: fixed;
    top: 264px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  & .search-icon{
    position: fixed;
    top: 295px;
    left: 8%;
    z-index: 2;
  }
  & .p-text{
    font-size: 36px;
    line-height: 1.6;
    color: #000;
    & .p-h{
      //margin-right: 28px;
      color: #8c8c8c;
    }
    & .p-des{
      list-style: decimal;
      //margin-right: 30px;
      //color: #fadb14;
    }
  }
  & .details-box{
    position: relative;
    z-index: 99;
  }
}
.placeholder{
  color: #cacaca;
}
