.photo-box{
  margin: 88px auto;
  text-align: center;
  & .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  & .nick{
    line-height: 2;
  }
  & .gray{
    color: #8c8c8c;
  }
  & .auth-button{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
     &::after{
      border: none;
    }
  }
}
